/* Global Stiller */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Arka plan rengi */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Başlık Stili */
h1 {
    font-size: 28px;
    color: #333; /* Metin rengi */
    margin: 20px;
    text-align: center;
}



/* Video Container */
.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#video {
    width: 900px;
    height: 480px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    border-radius: 5px;
}

.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
}

/* Button Container */
#buttons {
    margin: 20px;
}

/* Start Button */
#startButton, #stopButton {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #007bff; /* Mavi renk */
    color: #fff; /* Beyaz metin */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#startButton:hover, #stopButton:hover {
    background-color: #0056b3; /* Hover efekti: Daha koyu mavi */
    transform: scale(1.05); /* Hover efekti: Büyüme */
}

/* Stop Button - Devre Dışı */
#stopButton:disabled {
    background-color: #ccc; /* Devre dışı renk */
    cursor: not-allowed; /* Devre dışı durum için imleç */
}

/* Download Links Container */
/* İndirme Butonları */
.download-button {
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    background-color: #007bff; /* Mavi renk */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin: 10px;
    display: inline-block;
    text-decoration: none; /* İnline bağlantıları stilini kaldır */
}

.download-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.download-button:hover {
    background-color: #0056b3; /* Hover efekti: Daha koyu mavi */
    transform: scale(1.05); /* Hover efekti: Büyüme */
}

#downloadLinks {
    text-align: center; /* İndirme bağlantılarını ortala */
}

/* Link Stili */
a {
    display: block;
    margin: 10px;
    text-decoration: none;
    color: #007bff; /* Mavi link renk */
    transition: color 0.3s;
}

a:hover {
    color: #0056b3; /* Hover efekti: Daha koyu mavi link renk */
}
