/* Global Stiller */ /* Global Stiller */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Arka plan rengi */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/* Header Stilleri */
.header {
  display: flex;
  align-items: flex-start; /* Elemanları üst köşeye hizala */
  justify-content: flex-start; /* Elemanları üst köşeye hizala */
  position: absolute; /* Elemanları sayfa içinde konumlandırmak için */
  top: 0; /* Sayfanın üst kısmına hizala */
  left: 0; /* Sayfanın sol kısmına hizala */
}

.brand-name {
  font-size: 24px;
  margin: 50px; /* Sol üst köşeden biraz aşağıda konumlandırmak için */
  margin-left: 10px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  user-select: none; /* Standart */
}

.recording-gif {
  width: 128px;
  height: 128px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  user-select: none; /* Standart */
}

h3 {
  margin-top: 120px;
  padding: 10px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  user-select: none; /* Standart */
}
.red-text {
  color: red; /* Kırmızı renk ayarı */
}

.blue-text {
  color: #5555ff; /* Kırmızı renk ayarı */
}

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style for the button container */
.button-container {
  display: flex;
  justify-content: flex-end; /* Push text to the left */
  align-items: center;
  height: 100vh;
  margin-top: -100px; /* Video alanı ile 10px mesafe bırak */
}

/* Style for the start button */
.start-button {
  margin: 5px;

  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 16px;
  display: flex;
  align-items: center;
  background-color: #ff5555; /* Lighter red background color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 15px; /* More rounded border-radius */
  padding: 15px 30px; /* Increased padding */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

/* Hover and active states for the button */
.start-button:hover {
  background-color: #ff8888; /* Slightly darker red on hover */
}

.start-button:active {
  transform: scale(0.95); /* Slight scale down on click */
}

/* Style for the button text */
.button-text {
  margin-left: -15px; /* Increased margin */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  user-select: none; /* Standart */
}

.startouter-icon {
  margin-left: 25px; /* Increased margin */

  width: 30px; /* Smaller width */
  height: 30px; /* Larger height */
  background-color: white; /* White icon color */
  border-radius: 7px; /* More rounded border-radius */
  display: flex; /* Use flex display to center the inner icon */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

/* Style for the inner icon (yuvarlak beyaz ikon) */
.startinner-icon {
  width: 14px; /* Smaller width */
  height: 14px; /* Smaller height */
  background-color: #ff5555; /* White icon color */
  border-radius: 50%; /* Circular shape */
}

/* Style for the stop button */
.stop-button {
  margin: 5px;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 16px;
  display: flex;
  align-items: center;
  background-color: #5555ff; /* Blue background color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 15px; /* More rounded border-radius */
  padding: 15px 30px; /* Same padding as the start button */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

/* Hover and active states for the stop button */
.stop-button:hover {
  background-color: #8888ff; /* Slightly darker blue on hover */
}

.stop-button:active {
  transform: scale(0.95); /* Slight scale down on click */
}

/* Style for the button text */
.stop-button .button-text {
  margin-left: -15px; /* Increased margin */
}

/* Style for the stop button icon container */
.stopbutton-icon {
  margin-left: 25px; /* Increased margin */
  width: 30px; /* Same size as the start button icon */
  height: 30px; /* Same size as the start button icon */
  background-color: white; /* White icon color */
  border-radius: 20px; /* More rounded border-radius */
  display: flex; /* Use flex display to center the inner icon */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

/* Style for the inner icon (circular white icon) */
.stopinner-icon {
  width: 14px; /* Same size as the start button icon */
  height: 14px; /* Same size as the start button icon */
  background-color: #5555ff; /* Blue icon color */
  border-radius: 10%; /* Circular shape */
}

/* Stop Button - Devre Dışı */
.stop-button:disabled {
  background-color: #ccc; /* Devre dışı renk */
  cursor: not-allowed; /* Devre dışı durum için imleç */
}

.start-button:disabled {
  background-color: #ccc; /* Devre dışı renk */
  cursor: not-allowed; /* Devre dışı durum için imleç */
}

a:link {
  text-decoration: none;
}
.vn-red a {
  background-color: #e74c3c;

  position: relative;
  margin: 30px 5px;
  padding: 20px 20px 20px 80px;
  color: #fff;
  transition: all 0.4s ease;
}

.vn-red a:before {
  content: "\f019";
  font-family: fontAwesome;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 16px;
  border-radius: 0 20px 0 0;
  color: #000;
  background-color: #fff;
  opacity: 0.3;
  padding: 20px;
  top: 0;
  left: 0;
}

.vn-red a:hover {
  background: #2c3e50;
}
/* Video Oynatıcı Konteyner */
#video-container {
  text-align: center;
  width: 768px;
  background-color: #f5f5f5; /* Daha açık bir arka plan rengi */
  padding: 20px;
  border-radius: 15px; /* Biraz daha yuvarlatılmış köşeler */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Daha hafif bir gölge */
}

/* Video Oynatıcı */
#video {
  width: 100%;
  border: 2px solid #ddd; /* Daha açık bir kenarlık rengi */
  border-radius: 15px; /* Köşeleri yuvarlat */
}

#downloadLinks {
  margin-top: -100px; /* Linklerin video alanından yukarıda olmasını sağlar */
}

/* Küçük Ekranlar İçin Stil Tanımı */
@media (max-width: 768px) {
  body {
    padding: 10px; /* Kenar boşluğunu azalt */
  }

  h1 {
    font-size: 24px; /* Başlık font boyutunu küçült */
  }

  #buttons {
    margin: 20px;
  }

  #start-button,
  #stop-button {
    font-size: 16px; /* Düğme font boyutunu küçült */
  }

  #video-container {
    width: 100%; /* Video konteynerini ekranın genişliğine sığacak şekilde ayarla */
    padding: 10px; /* Daha küçük bir dolgu ekleyin */
  }

  #video {
    border: 1px solid #ddd; /* Kenarlığı daha ince yap */
  }
}
